# parameter file for simulating transport on polydisperse microtubules

# what action to perform
ACTION PARTCAPTURE
NSTEPS 1D6

# number of particles
NPART 1001

# number of microtubules
NMT 5

# number of trials
NTRIALS 1000

# particle velocity
VEL 1D0

# implement microtubule dynamics
MTDYN F

# parameters for MT dynamics
V_GROWTH 0.1795D0
V_SHRINK 0.6293D0
K_RESCUE 0.0074D0
K_CAT 0.0064281D0
K_PAUSE 0D0

# implement Brownian dynamics?
DOBROWN T

# particle diffusion coefficient
DIFFCONST 1D-2

# bind rate
KBIND 1D8

# capture particles only near microtubule tips?
TIPCAPTURE T

# capture radius
CRAD 0.2D0

# (only for dynamic MTs)
# which states can capture MTs 
# 1 = all states
# 
CAPTUREINSTATE 1

# stop on capture?
# setting this to F enables cargo to travel to the cell body (requires ABSBOUND T)
STOPONCAPTURE T
# read MT lengths from file?
READLENS T

# time step
DELT 1D-2

# domain length and radius
DOMRAD 1D0
DOMLEN 1D1

# absorbing boundary at cell body?
ABSBOUND T

# where to save snapshots
# second argument determines how often snapshots are saved (0 indicates no save)
SNAPSHOTS 0 *.snap.out
# where to save fpt distribution
FPT *.fpt.out
# where to save binding position distribution
# BINDPOS *.bindpos.out
# read MT lengths from file?
MTLENFILE mtlengths.txt
# print simulation status to console
# -1 prints a total of 10 updates
# can be change to print more or less frequently